---
title: Bed &amp; Breakfast San Diego
---

<div class="welcome">
  <h1>Is AirBnB allowed in this location?</h1>
  <form>
    <input type="text" name="zoning" id="address" placeholder="Type the address including house number" />
    <button id="find-zone" >Is AirBnB allowed?</button>
  </form>
  <div class="zone">
    <div class="bedroom-type">
      <h3>1-2 Guest Rooms AirBnB would be <span id="airbnb-allowed-1"></span></h3>
      <h4 class="hide" id="permit">The host should have a <i id="airbnb-permit-type-1"></i>
    </div>
    <div class="bedroom-type">
      <h3>3-5 Guest Rooms AirBnB would be <span id="airbnb-allowed-3"></span></h3>
      <h4 class="hide" id="permit">The host should have a <i id="airbnb-permit-type-3"></i>
    </div>
    <div class="bedroom-type">
      <h3>6+ Gues Rooms AirBnB would be <span id="airbnb-allowed-6"></span></h3>
      <h4 class="hide" id="permit">The host should have a <i id="airbnb-permit-type-6"></i>
    </div>
    <div class="zone">
      <h4>The address is in a <span id="zone"></span> area.</h4>
    </div>
  </div>
  <p>Data: <a href="http://data.sandiego.gov/dataset/zoning">Open Data Portal</a>
  <p>The tool is based on the Zoning Section of the <a href="https://www.sandiego.gov/city-clerk/officialdocs/municipal-code/chapter-13">Municipal Code</a>and on Section 141.0603 of the Municipal Code in 2016.</p>
</div><!-- .welcome -->
